header{
    text-align: left;
    background-color: rgba(187, 243, 225, 0.915);
    margin: 0%;
    padding: 0%;
}

nav{
    background-color: rgb(204, 221, 221);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    margin: 0%;
    padding: 1%;
    & a{  /* Anidamiento CSS */
        color: rgb(93, 89, 89);  
    }
    & a:hover {
        background: #c0f09e;
        font-size: 26px;
    }
}


ul > li { /*Afecta todos los li contenidos en un ul, en primer nivel. Hijo directo*/
    display: inline;
    list-style: none;

}

main {
    background-color: hsla(0, 70%, 91%, 0.867);
    margin: 0%;
    padding: 1%;
    
}

main article { /*Afecta todos los article contenidos en un main, a cualquier nivel.*/
    margin: 1%;
    padding: 1%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    align-items: baseline;
    line-height: 2;
    &:hover { /* Anidamiento CSS. El selector anidado NO debe comenzar con nombre de identificador. Debe agregar & al inicio.*/
        box-shadow: 0 3px 5px #8690ed;
    }
}

main h1 {
    margin: 1%;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    align-items: baseline;
    line-height: 2;
}

footer{
    margin: 0%;
    padding: 1%;
    border: 0%;
    background-color: #f2dff5da;
    align-items: center;
}
#ips {
    text-align: center;
    border: 1px solid black;
}

/*      CONSULTAS      */

input {
    border-radius: 25px;
    font-size: 16px;
    border: 0;
    box-shadow: 0 0 20px;
    margin: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 1%;
    text-align: center;
  }

form { 

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}